@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap");
:root {
  --main-color: #f4c430;
}
body {
}
.padZero {
  padding: 0px;
}
.wrapper {
  position: relative;
}
.viewBtn {
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px;
}
.viewBtn a {
  background: var(--main-color);
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 7px 30px;
  text-decoration: none;
}
.myHeading {
  text-align: center;
}
.myHeading h1 {
  font-size: 46px;
  font-family: playfair;
  line-height: 56px;
  font-weight: 700;
}
.myHeading h1 span {
  color: var(--main-color);
}
.myHeading figure {
}
.myHeading figure img {
}
.navbar {
  margin: 0px;
  border: none;
  min-height: 0px !important;
}
.navbar .topBar {
}
.navbar .topBar {
  position: relative;
  padding: 10px 0px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  z-index: 9;
}
.topBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
}
.topBarContent .topBarUl {
  margin: 0px;
  display: flex;
  padding: 0px;
}
.topBarContent .topBarUl li {
  display: flex;
}
.topBarContent .topBarUl li figure {
}
.topBarContent .topBarUl li figure img {
}
.topBarContent .topBarUl li strong {
  margin-right: 20px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  margin-left: 8px;
}
.topBarContent .social {
  margin: 0px;
  display: flex;
  padding: 0px;
}
.topBarContent .social li {
  padding: 0px 15px;
  list-style-type: none;
}
.topBarContent .social li figure {
}
.topBarContent .social li figure a {
}
.topBarContent .social li figure a img {
}
.topBarContent .social li strong {
}
.myHeader {
  position: absolute;
  z-index: 2147483647;
  width: 100%;
}
.myHeader .mainHeader {
  z-index: 999;
  height: 60px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}
.myHeader .mainHeader .logo {
}
.myHeader .mainHeader .logo figure {
}
.myHeader .mainHeader .logo figure a {
  font-family: poppins;
  font-size: 23px;
  line-height: 56px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.myHeader .mainHeader .myNav {
}
.myHeader .mainHeader .myNav ul {
  display: flex;
}
.myHeader .mainHeader .myNav ul li {
  padding: 15px;
  list-style-type: none;
}
.myHeader .mainHeader .myNav ul li a {
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.SubMenu:hover > .megaMenu {
  opacity: 1.8;
  visibility: visible;
  top: 83%;
}
.SubMenu {
}
.SubMenu .megaMenu {
  background: black;
  padding: 10px 10px 15px;
  min-width: 170px;
  z-index: 9999;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  /* width: 97.5%; */
  top: -100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: absolute;
  margin-left: -4px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.SubMenu .megaMenu li {
  list-style-type: none;
  padding: 15px 7px 0px !important;
}
.SubMenu .megaMenu li a {
  font-weight: 600;
  color: rgb(255 255 255) !important;
  font-size: 13px;
  text-decoration: none;
}
.SubMenu .megaMenu li a:hover {
  color: red;
}
.megaMenu {
  display: block !important;
}

.SubMenu .megaMenu .subMe:hover > .megaMe {
  opacity: 0.8;
  visibility: visible;
  top: 0;
}
.SubMe {
}
.SubMenu .megaMenu .subMe .megaMe {
  background: #000000;
  padding: 10px 10px 15px;
  min-width: 170px;
  box-shadow: rgb(255 173 67 / 38%) 0px 9px 15px;
  z-index: 9999;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  /* width: 97.5%; */
  top: -100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: absolute;
  margin-left: -4px !important;
  left: 100%;
}
.SubMenu .megaMenu .subMe .megaMe li {
  list-style-type: none;
  padding: 15px 7px 0px !important;
}
.SubMenu .megaMenu .subMe .megaMe li a {
  font-weight: 600;
  color: rgb(4 255 0) !important;
  font-size: 13px;
  text-decoration: none;
}
.subMe .megaMe li a:hover {
  color: red;
}
.megaMe {
  display: block !important;
}

.myHeader .mainHeader .myNav ul li .btnEnuiry {
}
.headerSlider {
  position: relative;
  top: -38px;
}
.headInq {
  left: 0px;
  z-index: 9999;
  position: absolute;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  right: 0px;
}
.headerSlider .headInq .formInqCard {
}
.headerSlider .bannerHeader {
}
.headerSlider .bannerHeader figure {
}
.headerSlider .bannerHeader figure img {
  width: 100%;
  object-fit: cover;
  height: 750px;
}
.headerSlider .headerGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formInquiry {
  background: rgb(255, 255, 255);
  width: 67%;
  padding: 34px;
}
.formInquiry h5 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.formInquiry p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 0px 24px;
}
.popupInquiry {
  width: 100%;
}
.headerSlider .formCard {
}
.formCard form {
}
.respInquiry {
}
.formCard form .form-group {
}
.formCard form .form-group input {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background: rgb(249, 249, 249);
  border: 1px solid rgb(236, 236, 236);
  padding: 0px 6px 0px 12px;
}
.formCard .btn-started {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background: var(--main-color);
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.formCard form .form-group textarea {
  width: 100%;
  height: 100px;
  border-radius: 2px;
  background: rgb(249, 249, 249);
  border: 1px solid rgb(236, 236, 236);
  padding: 6px 0px 0px 12px;
  outline: none;
}
.headerSlider .cardAstro {
}
.headerSlider .cardAstro h1 {
  margin: 0px 0px 30px;
  font-weight: 700;
  font-family: playfair;
  font-size: 52px;
  color: rgb(255, 255, 255);
  line-height: 62px;
  flex-direction: column;
  display: flex;
}
.headerSlider .cardAstro h1 span {
  color: var(--main-color);
  font-family: playfair;
}
.headerSlider .cardAstro p {
  font-family: Poppins;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 100;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 77%;
}
.headerSlider .cardAstro a {
  color: var(--main-color);
  font-family: poppins;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  text-decoration: none;
}
.headerSlider .cardAstro .numCard {
  width: 50%;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 40px;
  margin: 30px 0px 0px;
}
.headerSlider .cardAstro .numCard figure {
  padding: 5px;
}
.headerSlider .cardAstro .numCard figure img {
  width: 100%;
  object-fit: cover;
}
.headerSlider .cardAstro .numCard h6 {
  font-family: Poppins;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
}
.consultUs {
  margin: 80px 0px;
}
.consultUs .myHeading {
  text-align: center;
}
.consultUs .gridConsult {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  text-align: center;
  margin-top: 80px;
  gap: 73px 25px;
}
.consultUs .consultCard {
  text-align: center;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  padding: 25px;
  height: 249px;
}
.consultUs .consultCard .imgCar {
  position: relative;
}
.consultUs .consultCard .imgCar figure {
  height: 90px;
  width: 90px;
  border: 1px solid var(--main-color);
  border-radius: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  position: absolute;
  top: -75px;
  right: 0px;
  background: white;
  left: 0px;
}
.consultUs .consultCard .imgCar figure img {
}
.consultUs .consultCard h4 {
  font-size: 22px;
  font-weight: 500;
  font-family: playfair;
  line-height: 32px;
  color: rgb(0, 0, 0);
  margin-top: 31px;
}
.consultUs .consultCard p {
  font-size: 16px;
  line-height: 26px;
  font-family: poppins;
  color: rgb(126, 126, 126);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.consultUs .consultCard .readMore {
  margin-top: 20px;
}
.consultUs .consultCard .readMore a {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-family: poppins;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  text-decoration: none;
}
.consultUs .consultCard .readMore a figure {
  margin-left: 9px;
}
.consultUs .consultCard .readMore a figure img {
}
.rashiRatn {
  margin-top: 60px;
}
.rashiRatn .ratnGrid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
  margin: 30px 0 0 0;
}
.rashiRatn .ratnCard {
  background: rgba(255, 255, 255, 0.99);
  border: 1px solid rgb(230, 230, 230);
  text-align: center;
}
.rashiRatn .ratnCard figure {
  padding: 17px;
}
.rashiRatn .ratnCard figure img {
  object-fit: cover;
  width: 169px;
  height: 127px;
}
.rashiRatn .ratnCard .ratnText {
  background: rgb(249, 249, 249);
  padding: 17px 17px 17px 25px;
  text-align: left;
}
.rashiRatn .ratnCard .ratnText h4 {
}
.rashiRatn .ratnCard .ratnText p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgb(126, 126, 126);
}
.rashiRatn .ratnCard .ratnText a {
  display: flex;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-color);
  text-decoration: none;
}

.rashiRatn .ratnCard .ratnText .rashiRead {
  display: flex;
  justify-content: space-between;
  margin: 11px 0 0 0;
}
.rashiPhal {
  animation: 10s ease 0s infinite normal none running myanimation;
  margin-top: 80px;
  padding: 80px 0px;
}
.rashiPhal .myHeading {
}
.rashiPhal .myHeading h2 {
  color: rgb(255, 255, 255);
}
.rashiPhal .rashiGrid {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  gap: 15px;
  margin-top: 30px;
}
.rashiPhal .rashiCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 17px;
}
.rashiPhal .rashiCard a {
  cursor: pointer;
  text-decoration: none;
}
.rashiPhal .rashiCard a figure {
}
.rashiPhal .rashiCard a figure img {
}
.rashiPhal .rashiCard a strong {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: var(--main-color);
  text-decoration: none;
}
.yantra {
  margin: 80px 0 0 0;
}
.yantra .yantraGrid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 25px;
  margin-top: 30px;
}
.yantra .yantraCard {
  background: rgb(255, 255, 255);
  padding: 13px 17px 25px;
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 0px 3px);
}
.yantra .yantraCard figure {
}
.yantra .yantraCard figure img {
  width: 100%;
  object-fit: cover;
}
.yantra .yantraCard .yantraText {
}
.yantra .yantraCard .yantraText h5 {
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: left;
  color: rgb(9, 9, 9);
}
.yantra .yantraCard .yantraText p {
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: rgb(126, 126, 126);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.yantra .yantraCard .yantraText a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: rgb(244, 196, 48);
  text-decoration: none;
  display: flex;
  margin-top: 20px;
}
.yantra .yantraCard .yantraText a figure {
  margin-left: 10px;
}
.yantra .yantraCard .yantraText a figure img {
}
.ourServices {
  background: rgb(247, 247, 247);
  padding: 80px 0px;
}
.ourServices .serviceGrid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin-top: 30px;
  gap: 20px;
}
.ourServices .serviceCard {
  background: rgb(255, 255, 255);
  padding: 13px;
}
.ourServices .serviceCard figure {
}
.ourServices .serviceCard figure img {
  width: 100%;
  object-fit: cover;
}
.ourServices .serviceCard h5 {
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: unset;
  color: rgb(9, 9, 9);
}
.ourServices .serviceCard p {
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgb(126, 126, 126);
}
.ourServices .serviceCard a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: rgb(244, 196, 48);
  text-decoration: none;
  display: flex;
  margin-top: 20px;
}
.ourServices .serviceCard a figure {
  margin-left: 10px;
}
.ourServices .serviceCard .serviceText {
  padding: 15px;
}
.ourServices .serviceCard a figure img {
}
.ofGod {
  background: url("../images/galaxy-night-view.png") center center / cover fixed;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.ofGod .myHeading {
  text-align: center;
}
.ofGod .myHeading h2 {
  color: rgb(255, 255, 255);
}
.ofGod .ofGodText {
  margin-top: 30px;
}
.ofGod .ofGodText p {
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.panditJi .aboutSec {
  position: relative;
  animation: 10s ease 0s infinite normal none running myanimation;
}
@keyframes myanimation {
  0% {
    background-color: var(--main-color);
  }
  20% {
    background-color: rgb(255, 87, 51);
  }
  50% {
    background-color: rgb(175, 0, 0);
  }
  80% {
    background-color: rgba(255, 145, 0, 0.8);
  }
  100% {
    background-color: var(--main-color);
  }
}
@keyframes example {
  0% {
    top: 200px;
    background-color: rgb(204, 82, 25);
  }
  100% {
    top: 0px;
    background-color: rgb(19, 4, 160);
  }
}
.panditJi .aboutSec::before {
  content: "";
  top: 0px;
  left: 0px;
  width: 18%;
  height: 100%;
  position: absolute;
  background: rgb(255, 255, 255);
}
.panditJi .container::before {
  content: "";
}
.panditJi {
  padding: 100px 0px 0px;
}
.panditJi .container {
}
.panditJi .pandiImg {
}
.panditJi .pandiImg figure {
  position: relative;
  top: -60px;
}
.panditJi .pandiImg figure img {
  width: 100%;
  object-fit: cover;
}
.panditJi .panditText {
  padding: 10px 60px 30px 10px;
}
.panditJi .panditText h3 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
}
.panditJi .panditText figure {
  display: flex;
  justify-content: center;
}
.panditJi .panditText figure img {
}
.panditJi .panditText p {
  margin: 30px 0px 0px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.panditJi .bgWh {
}
.panditJi .pandiImg::before {
  content: "";
}
.myFooter {
  position: relative;
  padding: 100px 0px 0px;
  background-image: url("../images/bg.png");
  background-position: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  width: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.myFooter::before {
  top: 0px;
  height: 100%;
  content: "";
  background: var(--main-color);
  width: 40%;
  position: absolute;
}
.myFooter .footerLogo {
  z-index: 2147483647;
}
.myFooter .footerLogo a {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: left;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.myFooter .footerLogo p {
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 24px;
  margin: 20px 0px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.myFooter .gridGooter {
  padding: 0px 0px 0px 40px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 25px;
}
.myFooter .footerCard {
}
.myFooter .footerCard h5 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  text-align: left;
  color: rgb(238, 238, 238);
  display: flex;
}
.myFooter .footerCard ul {
  padding: 0px;
  margin-top: 20px;
}
.myFooter .footerCard ul li {
  list-style-type: none;
  margin-top: 7px;
}
.myFooter .footerCard ul li a {
  width: 84px;
  height: 20px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgb(203, 203, 203);
  text-decoration: none;
}
.myFooter .subFooter {
  border-top: 1px solid rgba(238, 238, 238, 0.3);
  padding: 10px 0px;
  display: flex;
  justify-content: right;
  margin: 30px 0px 0px;
  height: auto;
}
.myFooter .subFooter strong a {
  font-family: poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
}
.myFooter .subFooter strong {
  font-family: poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.inqId {
  display: none;
}
.myFooter .footerBtn {
  margin: 30px 0px 0px;
}
.myFooter .footerBtn a {
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 15px;
  background: rgb(0, 0, 0);
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 7px 30px;
  text-decoration: none;
  margin: 22px 0px 0px !important;
}
.openMenu {
}
.openMenu img {
}
.breadCreamp {
  position: relative;
  padding: 90px 0px 60px;
  background: url("../images/bg.png");
}
.breadCreamp::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    92deg,
    rgba(7, 0, 47, 0.58) 16.84%,
    rgba(219, 172, 27, 0.41) 84.26%
  );
}
.breadCreamp .breadTitle {
  position: relative;
}
.breadCreamp .breadTitle h1 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  color: rgb(255, 255, 255);
  margin: 0px;
  text-transform: uppercase;
}
.breadCreamp .breadTitle p {
  color: rgb(255, 255, 255);
  margin-top: 15px;
  font-family: Poppins;
}
.aboutUssec {
  margin: 82px 0px;
}
.aboutUssec {
}
.aboutUssec .listItem {
  margin: 30px 0 0 0;
}
.aboutUssec .listItem h3 {
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  background: rgb(244, 97, 81);
  padding: 14px;
  font-weight: 500;
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
  text-align: center;
}
.aboutUssec .listItem ul {
  padding: 0px;
  margin: 6px 0px 0px;
}
.aboutUssec .listItem ul li:last-child {
  border: none;
}
.aboutUssec .listItem ul li {
  list-style-type: none;
  padding: 14px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.27);
}
.aboutUssec .listItem ul li a figure {
  margin: 0px 11px 0px 0px;
}
.aboutUssec .listItem ul li a figure img {
}
.aboutUssec .listItem ul li a {
  font-size: 15px;
  color: rgb(129, 128, 128);
  font-weight: 500;
  font-family: Poppins;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.aboutUssec .listItem ul li:hover a {
  color: var(--main-color);
}
.aboutUssec .listItem ul li:hover {
  background: #242f9b;
}
.aboutUssec .imgAbout {
}
.aboutUssec .imgAbout figure {
  margin: 60px 0px;
}
.aboutUssec .imgAbout figure img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border: 5px solid rgb(255, 255, 255);
}
.aboutUssec .aboutText {
}
.aboutUssec .aboutText p {
  font-size: 16px;
  line-height: 27px;
  font-family: roboto;
  color: rgb(126, 126, 126);
  text-align: justify;
}
.aboutHeading {
}
.aboutHeading h4 {
  font-size: 40px;
  font-weight: 500;
  font-family: playfair;
  line-height: 40px;
  color: rgb(0, 0, 0);
  margin: 0px 0px 10px;
}
.hoverCode::before {
  z-index: -9;
  border-radius: 5px;
  top: 40px;
  width: 240px;
  height: 240px;
  background: rgb(244, 196, 48);
  position: absolute;
  content: "";
  left: -20px;
  box-shadow: rgb(242 194 48) 0px 1px 4px;
  animation: 10s ease 0s infinite normal none running myanimation;
}
.aboutUssec .myHeading {
}
.secSec {
  background: url("../images/a2.jpg") center center / cover fixed;
  align-items: center;
  margin: 6em 0px 6em;
  position: relative; /* padding: 25px 0; */
}
.secText {
  margin: 0 0 54px 0;
}
.secText p {
  font-size: 15px;
  line-height: 24px;
  font-family: roboto;
  color: rgb(0 0 0);
  text-align: justify;
  background: rgb(255 255 255);
  padding: 55px;
}
.secImg {
  position: relative;
  right: -24%;
}
.secImg figure {
}
.secImg figure img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  border: 5px solid rgb(255 255 255);
}
.secBef::before {
  /* border-radius: 5px; */
  top: -107px;
  width: 196px;
  height: 607px;
  background: rgb(244, 196, 48);
  position: absolute;
  content: "";
  right: 0px;
}
.secSec .myHeading {
  margin: 21px 0 30px 0px;
  position: relative;
  text-align: left;
}
.secSec::before {
  content: "";
  position: absolute;
  background: rgba(2, 2, 2, 0.52);
  height: 100%;
  width: 100%;
}
.secSec .myHeading h2 {
  color: rgb(255, 255, 255);
}
.rashiRatnGrid {
  grid-template-columns: repeat(3, 2fr) !important;
}
.consGridPage {
  grid-template-columns: repeat(3, 2fr) !important;
}
.yantraPageGrid {
  grid-template-columns: repeat(3, 2fr) !important;
}

